body {
  background-image: url("https://wallpapers.com/images/hd/white-color-background-4vpk5thu0y55dypi.jpg");
}

a:link {
  color: black;
}

a:link:hover {
  color: crimson;
}

.h3center {
  text-align: center;
}

h2,
h3 {
  color: crimson;
  font-family: Impact;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

i {
  color: #e63946;
}

li,
div,
p,
table {
  color: tan;
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 500px;
}

.reveal-text-container .reveal-text {
  font-family: "Impact", sans-serif;
  font-size: 60px;
  font-weight: 800px;
  position: relative;
  color: transparent;

  animation: showText forwards;
}

.reveal-text-container .reveal-bg {
  position: absolute;
  height: 100%;
  width: 0%;
  background: #e63946;
  left: 0;

  animation: revealText 950ms ease-out;
}

@keyframes revealText {
  80% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes showText {
  to {
    color: #e63946;
  }
}

.carousel-item {
  text-align: center;
  padding: 20px;
}
.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
  padding-bottom: 0;
}
.cert-title {
  color: #e63946;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators button {
  background-color: #6c757d;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #6c757d;
  border-radius: 50%;
  padding: 10px;
}
.container {
  max-width: 800px;
  margin: 40px auto;
}
.carousel {
  margin-bottom: 60px;
}
h2,
h4 {
  text-align: center;
}
.carousel-inner {
  min-height: 350px;
}

.content-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.presentation-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
